<aside class="sidebar">
    <header class="sidebar__header">
        <div class="sidebar__logo"><a href="{{ '/' | url}}">{{ site.title }}</a></div>
        <div class="sidebar__hamburger"></div>
    </header>
    {% include "nav.njk" %}
</aside>
