# .github/workflows/check-npm-token.yml
name: Check NPM Token

on: [workflow_dispatch]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
     - name: Check NPM authentication
        run: npm whoami --registry https://registry.npmjs.org/
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      
    
